.header-image.desktop {
  display: none;
  
}

.header-image.mobile {
  display: flex;
  position: relative;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  /* size-adjust: 100%; */
  width: 100%;
  justify-content: center;
  overflow: hidden;
  
}
